div.card {
    transition: all 0.5s ease;
    height: 300px;
    width: 20rem;
    transition: all 0.5s ease;
    margin: 50px 35px!important;
    z-index: 0;
    overflow: visible;
    border: none;
}

div.card-body {
    position: absolute;
    top: 300px;
    background-color: #f0047f;
    left: -5%;
    width: 106%;
    height: 60px;
    border-radius: 0 5px 5px 5px;
    padding: 0;
    margin: 0;
    z-index: 1;
    transition: all 0.5s ease;
}

.card.active div.card-body {
    transform: translateY(-302px);
    z-index: 1;
    border-radius: 5px 5px 5px 0;
}

.card.active div.card-body::after {
    transform: translateY(78px) skewX(45deg);
    left: 9.5px;
    z-index: -1;
}

div.card-body::after {
    content: " ";
    display: block;
    background-color: #7c1336;
    position: relative;
    width: 35px;
    height: 18px;
    top: -82px;
    left: 8px;
    transform: skewX(-40deg);
    z-index: -1;
}

h3 {
    padding: 0 10px 10px 0;
    letter-spacing: 3px;
    color: white;
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
    margin: auto;
    text-align: right;
}

#description {
    position: relative;
    z-index: 10;
    bottom: -116px;
    left: 100%;
    width: fit-content;
    height: fit-content;
    padding: 3px;
    font-size: 23px;
    border-radius: 0 30% 30% 0;
    background-color: #f0047f;
    border: none;
}

.card-one #description,
.card-cart #description {
    display: none;
}

.card-title {
    width: 100%;
    padding: 5px;
    margin: auto;
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 4px;
    transition: all 0.5s ease;
}

.card img {
    height: 300px;
    width: 20rem;
    transition: all 0.5s ease;
    z-index: 0;
    position: relative;
    top: 0px;
}

@media (max-width: 600px) {
    .card img {
        width: 100%;
    }
    .card.active img {
        transform: scale(0.25) translate(-520px, -450px)!important;
        border-radius: 100%;
        z-index: 100;
        width: 110%;
        height: 350px;
    }
}

.card.active img {
    transform: scale(0.25) translate(-480px, -450px);
    border-radius: 100%;
    z-index: 100;
}

p.card-text {
    opacity: 0;
    position: absolute;
    top: 60.7px;
    width: 100%;
    height: 156px;
    font-size: 1rem;
    color: black;
    background-color: #fff1fd;
    transition: all 0.5s ease;
    padding: 20px 10px;
    margin: 0;
    z-index: 2;
    text-align: right;
    border-radius: 5px;
}

.card.active p.card-text {
    opacity: 1;
}

.item-a {
    position: absolute;
    height: 200px;
    width: fit-content;
    z-index: 10;
}

.item-a:hover {
    text-decoration: none;
    color: unset;
}

.finCompra {
    position: absolute;
    top: 355px;
    width: 100%;
    font-size: 1rem;
    letter-spacing: 3px;
    font-weight: bold;
    background-color: blueviolet;
    border: none;
    z-index: -100;
}

.finCompra:hover {
    background-color: rgb(102, 31, 168);
}

div.alert {
    display: block;
    position: absolute;
    top: 2px;
    padding: 0 3px;
    right: 2px;
    font-size: 14px;
    width: fit-content;
    z-index: 1000;
}

.itemCount {
    position: relative;
    top: 220px;
    width: 100%;
    height: 140px;
    border-radius: 5px;
    margin: 0 auto;
    z-index: 0;
    padding: 0 20px;
    background-color: rgb(108, 41, 170);
}

.itemCount button {
    width: 50%!important;
    height: 50%!important;
    font-size: 12px!important;
    padding: 5px 10px!important;
    margin: 1px auto;
}

.itemCount span {
    font-size: 12px!important;
    padding: 5px 20px!important;
}


button.deleteButton {
    position: absolute;
    border-radius: 100%;
    width: 30px!important;
    height: 30px!important;
    top: 5px;
    right: 10px;
    border: none;
    color: white;
    background-color: #f0047f;
    border: 2px solid white;
}

@media (min-width: 780px) {
    .card-one {
        width: 720px!important;
        height: 500px!important;
    }
    .card-one .card-text {
        opacity: 1;
        top: 0px;
        right: 0;
        width: 52%;
        height: 205px;
        padding-top: 40px;
    }
    .card-one img {
        position: absolute;
        width: 365px;
        height: 399px;
        left: -25px;
        z-index: -10;
    }
    .card.active.card-one img {
        transform: scale(1) translate(0);
        border-radius: 0;
        z-index: 100;
    }
    .card-one .itemCount {
        position: absolute;
        width: 52%;
        height: 190px;
        padding-top: 25px;
        top: 207px;
        right: 0;
    }
    .card-one .card-body {
        top: 399px;
        z-index: 1;
    }
    .card-one .finCompra {
        top: 455px;
    }
    .card.active.card-one div.card-body {
        transform: translateY(0);
        z-index: 1;
        border-radius: 0px 5px 5px 5px;
    }
    .card.active.card-one div.card-body::after {
        transform: translateY(0) skewX(-40deg);
        left: 8px;
        z-index: -1;
    }
    .card-one .deleteButton {
        margin: 20px 0px;
    }
}

div.card.card-cart {
    height: 150px;
}

.card-cart .card-text {
    display: none;
}

.card-cart img {
    transform: scale(0.25) translate(-500px, -420px);
    border-radius: 100%;
}

.card-cart.active img {
    transform: scale(0.25) translate(-500px, -420px);
    border-radius: 100%;
}

.card-cart div.card-body {
    transform: translateY(-305px);
    z-index: 1;
    border-radius: 5px 5px 5px 0;
}

.card-cart.active div.card-body {
    transform: translateY(-305px);
    z-index: 1;
    border-radius: 5px 5px 5px 0;
}

.card-cart div.card-body::after {
    transform: translateY(77px) skewX(45deg);
    left: 9px;
    z-index: -1;
}

.card-cart.active div.card-body::after {
    transform: translateY(77px) skewX(45deg);
    left: 9px;
    z-index: -1;
}

.card-cart .itemCount {
    top: 58px;
    z-index: 2;
}

.card-cart .itemCount:hover {
    top: 58px;
    z-index: 2;
}

.card-cart .item-a {
    height: 0;
    width: 0;
}

.card-cart .finCompra {
    display: none;
}