.navbar {
    background: linear-gradient(90deg, #f0047f 30%, rgba(0, 0, 0, 1) 100%);
    z-index: 1;
}

.navbar img {
    width: 160px;
    margin-top: 0px;
    transition: all 0.5s ease;
}

.navbar img:hover {
    transform: scale(1.1);
}

.navbar-brand a {
    font-size: 0.5rem;
}

.nav-link a {
    font-size: 1.1rem;
    margin-bottom: 20px;
    text-decoration: none;
    color: rgba(255, 253, 253, 0.842)!important;
}

.nav-link a:hover {
    color: rgb(77, 207, 240)!important;
}

.currentCategory {
    border-bottom: 2px solid rgb(77, 207, 240);
    max-width: 150px;
    margin: auto;
}

.userLink{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

@media (min-width: 768px) {
    .userLink{
        display: flex;
        flex-direction: row;
    }
}


.dropdown-menu.show {
    display: flex;
    flex-direction: column;
    padding: 10px;
}


.dropdown-menu.show a {
    padding: 10px;
    margin: 0;
    color: black!important;
}

.dropdown-menu.show a:hover {
    background-color: #e1e1e1;
}


@media (min-width: 990px) {
    .navbar img {
        width: 180px;
        margin-top: 35px;
    }
    .navbar {
        border-radius: 0 0 60% 0;
        height: 60px;
    }
    .nav-link {
        margin-left: 30px;
    }
    .nav-link a {
        font-size: 1.1rem;
        margin: 10px 10px 0 10px;
    }
    .nav-item a {
        margin: 3px 10px 0 10px;
    }
}

.cart {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 70px;
    height: 70px;
    color: #fff;
    background-color: rgb(88, 4, 128);
    border-radius: 100%;
    border: 3px solid #fff;
    font-size: 35px;
    margin-left: 10px;
    padding: 6px;
    transition: transform 0.5s ease;
}

@media (min-width: 990px) {
    .cart {
        position: absolute;
        top: 10px;
        right: 20px;
    }
}

.cart div {
    position: relative;
    top: -10px;
    left: -20px;
}

.cart-icon {
    transition: transform 0.5s ease;
    text-decoration: none;
}

.cart:hover .cart-icon {
    color: #fff;
    border-radius: 100%;
    transform: rotate(360deg);
}